@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


<div class="row">
    <div id="urbanbooks-specials-carousel" class="carousel slide" data-ride="carousel" style="width:inherit;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="1"></li>
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/bookandJumboTron.jpg" alt="...">
                <div class="carousel-caption" style="background-image: url(../../Images/dots.png); align-content:flex-start; align-self:flex-start;">
                    <div class="">
                        <h2><strong style="color:#1e1e1e;">Winter Special</strong></h2>
                        <p style="color:#1e1e1e;">Check out our winter special on gadgets</p>
                        <button class="btn btn-default">LEARN MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/jambotron.jpg" alt="...">
                <div class="carousel-caption" style="background-image: url(../../Images/dots.png); center">
                    <h2><strong style="color:#1e1e1e;">Welcome</strong></h2>
                    <p style="color:#1e1e1e;">@User.Identity.Name</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#urbanbooks-specials-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#urbanbooks-specials-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


<div class="row" style="height:10px"></div> @*ROW DEVIDER*@


<div class="container">


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail" style="text-align:center;">
                <i class="icon-book img-circle img-thumbnail" style="font-size:125px;color:white; background-color:#1e1e1e"></i>
                <h4 class="caption">Books</h4>
                <hr />
                <p>Browse through a selection of textbooks, the finest novels and reading books for all ages. With some content to make it even with the panel here. some more <br></p>
                <button class="btn btn-default btn-round">Learn More</button>
            </div>
        </div>

        <div class="col-lg-8 panel panel-default">

            <div class="panel-header" style="text-align:center;">
                <h4>New Books</h4>
                <hr/>
            </div>

            <div class="panel-body">

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-laptop-1 img-thumbnail" style="font-size:60px;color:white; width:150px; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-laptop-1 img-thumbnail" style="font-size:60px;color:white; width:150px; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-laptop-1 img-thumbnail" style="font-size:60px;color:white; width:150px; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-laptop-1 img-thumbnail" style="font-size:60px;color:white; width:150px; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

            </div>

            <div class="panel-footer" style="text-align:center; width:auto">
                <a href="#" class="btn btn-default btn-round">Learn More</a>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="thumbnail" style="text-align:center;">
                <i class="icon-laptop-1 img-circle img-thumbnail" style="font-size:125px;color:white; width:150px; background-color:#1e1e1e"></i>
                <h4 class="caption">Technology</h4>
                <hr />
                <p>Browse through our laptops, desktops or electronic accessories, with prices to fit the tightest of budgets </p>
                <button class="btn btn-default btn-round">Learn More</button>
            </div>
        </div>

        <div class="col-lg-8 panel panel-default">

            <div class="panel-header" style="text-align:center;">
                <h4>New Stock</h4>
            </div>

            <div class="panel-body">

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-mobile img-thumbnail" style="font-size:60px;color:white; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-mobile img-thumbnail" style="font-size:60px;color:white; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-mobile img-thumbnail" style="font-size:60px;color:white; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="thumbnail" style="text-align:center;">
                        <i class="icon-mobile img-thumbnail" style="font-size:60px;color:white; background-color:#1e1e1e"></i>
                        <label class="caption">Beginning C#</label>
                        <hr />
                        <strong>Price R0.00</strong>
                        <br />
                        @using urbanbooks.Helpers
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to wishlist", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "view", "Home", "index", htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "Home", "index", htmlAttributes: new { @class = "btn" })
                    </div>
                </div>

            </div>

            <div class="panel-footer" style="text-align:center;">
                <button class="btn btn-default btn-round">Learn More</button>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-lg-4">
            <div class="thumbnail" style="text-align:center;">
               <!-- <i class="icon-tablet-1 img-circle img-thumbnail" style="font-size:150px;color:white; background-color:#1e1e1e"></i> -->
                <span class="glyphicon glyphicon-tags img-circle img-thumbnail" style="font-size:150px;color:white; background-color:#1e1e1e"></span>
                <h4 class="caption">Specials</h4>
                <hr />
                <p>Want to save money? Then this sections is exectly for you</p>
                <button class="btn btn-default btn-round" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Learn More
                </button>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="thumbnail"></div>
        </div>
    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/bootstrap")


@Scripts.Render("~/bundles/modalform")
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fuelux")
}