@using urbanbooks.Models
@model SearchViewModel
@{
    ViewBag.Title = "Home";
}



@{
    var message = TempData["cartAdd"] ?? string.Empty;
}

<script type="text/javascript">
    var msg;
    if (msg) {
        window.alert(msg);
    }
</script>







<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="row">
    <div id="urbanbooks-specials-carousel" class="carousel slide" data-ride="carousel" style="width:inherit;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="1"></li>
            <li data-target="#urbanbooks-specials-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/bookandJumboTron.jpg" alt="...">
                <div class="carousel-caption well" style="background-image: url(../../Images/dots.png); align-content:flex-start; align-self:flex-start;">
                    <div class="blockquote-reverse">
                        <h4 style="color:#1e1e1e;">Read the best books first, or you may not have a chance to read them at all</h4>
                        <small style="color:#1e1e1e;">Henry David Thoreau <cite>(Author, poet, philosopher and historian)</cite> </small>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <img src="~/Images/jambotron.jpg" alt="...">
                <div class="carousel-caption well" style="background-image: url(../../Images/dots.png); align-content:flex-start; align-self:flex-start;">
                    <div class="blockquote-reverse">
                        <h4><strong style="color:#1e1e1e;">Welcome</strong></h4>
                        <small style="color:#1e1e1e;">@User.Identity.Name - <cite style="color:#1e1e1e;">to Urban Books</cite></small>
                    </div>
</div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#urbanbooks-specials-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#urbanbooks-specials-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div class="row" style="height:10px"></div> @*ROW DEVIDER*@

<div class="container">

    <div class="row">
        
        <div class="panel panel-default">
            <div class="panel-header" style="text-align:center;">
                <h4>New Books</h4>
                <hr />
            </div>
            <div class="panel-body">
                @foreach (var item in Model.BookResults)
                {
                    string returnUrl = HttpContext.Current.Request.RawUrl;
                    <div class="col-md-2">
                        <div style="height:450px">
                            <div class="thumbnail" style="text-align:center">
                                <img class="img-thumbnail" src="~/Uploads/Books/@item.CoverImage" width="150" height="150" />
                                <label class="caption">@Html.DisplayFor(modelItem => item.BookTitle)</label>
                                <label>ISBN :</label>&nbsp;@Html.DisplayFor(modelItem => item.ISBN)<br />
                                <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                                <hr />
                                @using urbanbooks.Helpers
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "CustomerDetails", "Book", new { productId = item.ProductID }, htmlAttributes: new { @class = "btn" })
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer" style="text-align:center; width:auto"> 
                @Html.ActionLink("Learn More", "Index","Book",null, new { @class = "btn btn-default btn-round" })
            </div>
        </div>
    </div>

    <div class="row">

        <div class=" panel panel-default">
            <div class="panel-header" style="text-align:center;">
                <h4>New Devices</h4>
                <hr />
            </div>
            <div class="panel-body" style="height:auto">
                @foreach (var item in Model.GadgetResults)
                {
                    string returnUrl = HttpContext.Current.Request.RawUrl;
                    <div class="col-md-3">
                        <div style="height:450px">
                            <div class="thumbnail" style="text-align:center">
                                <img class="img-thumbnail" src="~/Uploads/Tech/@item.ImageFront" width="100" height="100" />
                                <h4 class="caption">@Html.DisplayFor(modelItem => item.ModelName)</h4>
                                <label>Model Number :</label>&nbsp;@Html.DisplayFor(modelItem => item.ModelNumber)<br />
                                <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                                <hr />
                                @using urbanbooks.Helpers
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "Details", "Technology", new { ProductID = item.ProductID }, htmlAttributes: new { @class = "btn" })
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer" style="text-align:center;">
                @Html.ActionLink("Learn More", "Index", "Technology", null, new { @class = "btn btn-default btn-round" })
            </div>
        </div>
    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
}