<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/fontello/css")
    @Scripts.Render("~/bundles/modernizr")
    @using urbanbooks.Helpers;
    <link rel="stylesheet" href="~/fonts/fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/fonts/fontello/css/animation.css" type="text/css" />

</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-user'></span>", "Manage Employee", "Index", "Employee", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<i class='icon-book'></i>", "Manage Books", "ManageBooks", "Book", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<span class='icon-laptop'></span>", "Manage Technology", "ManageTechnology", "Technology", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-stats'></span>", "Manage Reports", "Index", "Admin", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-certificate'></span>", "Manage Specials", "ManageSpecial", "Special", htmlAttributes: new { @class = "btn" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>

    <!--LogIn Modal PlaceHolder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent">

                </div>
            </div>
        </div>
    </div>

    <!--Body PlaceHolder-->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @RenderSection("scripts", required: false)
</body>
</html>


