<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/fontello/css")
    @Scripts.Render("~/bundles/modernizr")
    @using urbanbooks.Helpers;
    <link rel="stylesheet" href="~/fonts/fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/fonts/fontello/css/animation.css" type="text/css" />
    <link href="~/Content/Zosial/css/fontllo.css" rel="stylesheet" />
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Suppliers</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Register new Supplier", "Create", "Supplier")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Technology Suppliers", "Technology", "Supplier")</li>
                        <li>@Html.ActionLink("Book Suppliers", "BookIndex", "Supplier")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-book"></span> Books </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Add new", "Create", "Book")</li>
                        <li>@Html.ActionLink("Manage books", "AdminIndex", "Book")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Add new Category", "Create", "BookType")</li>
                        <li>@Html.ActionLink("Manage Book Category", "Index", "BookType")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Add new Publisher", "Create", "Publisher")</li>
                        <li>@Html.ActionLink("Manage Publishers", "Index", "Publisher")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Add new Author", "Create", "Author")</li>
                        <li>@Html.ActionLink("Manage Authors", "Index", "Author")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("View Deleted Books", "DeletedIndex", "Book")</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-laptop"></span> Devices </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Add new", "Create", "Technology")</li>
                        <li>@Html.ActionLink("Manage Devices", "AdminIndex", "Technology")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Add new category", "Create", "TechCategory")</li>
                        <li>@Html.ActionLink("Manage categories", "Index", "TechCategory")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Add new manufacturer", "Create", "Manufacturer")</li>
                        <li>@Html.ActionLink("Manage manufacturers", "Index", "Manufacturer")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("View Deleted Devices", "DeletedIndex", "Technology")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-stats"></span> Reports </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Detailed Report", "Detailed", "Report")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Monthly Report", "Monthly", "Report")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Yearly Report", "Yearly", "Report")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> About Us </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Manage Company Details", "Edit", "Company")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Company Details", "CompanyIndex", "Company")</li>
                    </ul>
                </li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-tasks'></span> Orders", "Orders", "Index", "Order", htmlAttributes: new { @class = "btn" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>

    <!--LogIn Modal PlaceHolder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent">

                </div>
            </div>
        </div>
    </div>

    <!--Body PlaceHolder-->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
    @RenderSection("scripts", required: false)
</body>
</html>


