<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/fontello/css")
    @Scripts.Render("~/bundles/modernizr")
    @using urbanbooks.Helpers;
    <link rel="stylesheet" href="~/fonts/fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/fonts/fontello/css/animation.css" type="text/css" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/Zosial/css/fontllo.css" rel="stylesheet" />
</head>
<body>
    @using urbanbooks.Controllers;
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Urban Books", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All Books", "Index", "Book")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Textbooks", "ByCategory", "Book", new { name = "textbook", CategoryID = 10 }, null)</li>
                        <li>@Html.ActionLink("Cook books", "ByCategory", "Book", new { name = "cookbook", CategoryID = 0 }, null)</li>
                        <li>@Html.ActionLink("Sports", "ByCategory", "Book", new { name = "sports", CategoryID = 0 }, null)</li>
                        <li>@Html.ActionLink("Children's", "ByCategory", "Book", new { name = "children", CategoryID = 0 }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("More Categories", "Categories", "Book")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Technology <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All Devices", "Index", "Technology")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Laptops", "ByCategory", "Technology", new { name = "Laptop", CategoryID = 0 }, null)</li>
                        <li>@Html.ActionLink("Tablets", "ByCategory", "Technology", new { name = "Tablet", CategoryID = 0 }, null)</li>
                        <li>@Html.ActionLink("Accessories", "ByCategory", "Technology", new { name = "Accesor", CategoryID = 0 }, null)</li>
                        <li>@Html.ActionLink("Software", "ByCategory", "Technology", new { name = "Software", CategoryID = 0 }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("More Categories", "Categories", "Technology")</li>
                    </ul>
                </li>
                @{
                    if (Session["cartTotal"] == null)
                    {
                        Session["cartTotal"] = "0,00";
                    }
                    if (Session["wishlistTotal"] == null)
                    {
                        Session["wishlistTotal"] = 0;
                    }
                }
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'>  R" + Session["cartTotal"].ToString() + "</span>", "Cart", "Edit", "Cart", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'>  " + Session["wishlistTotal"].ToString() + "</span>", "Wishlist", "Edit", "Wishlist", htmlAttributes: new { @class = "btn" })</li>
            </ul>



            @Html.Partial("_LoginPartial")
            <div class="navbar-form input-group form-inline pull-right">
                @using (@Html.BeginForm("Search", "Search", FormMethod.Post, null))
                {
                    @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                    <div class="btn-group">
                        <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                        <button type="submit" class="btn btn-default input-group-addon" data-close-others="true">
                            <span class="glyphicon glyphicon-search "></span>
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>
    <!--LogIn Modal PlaceHolder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent">
                </div>
            </div>
        </div>
    </div>
    <!--Body PlaceHolder-->
    <div class="body-content">
        @RenderBody()
        <br /><br />

        <div class="row">

        </div>
    </div>
    <div class="" style="background-color:#1e1e1e; margin-bottom:-75px">
        <br />
        <footer style="color:ActiveBorder; background-color:#1e1e1e; bottom:-40px;">
            <div class=" container">
                <div class="col-md-4">
                    <br />
                    <a href="/Home/">&copy; Urban books 2014</a><br />
                    <p>
                        Contact Us <i class="icon-facebook-rect"></i> <i class="icon-twitter-squared"></i> <i class="icon-pinterest-circled"></i> <i class="icon-googleplus-rect"></i>
                    </p>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <i class="icon-book-2"></i>  @Html.ActionLink("Books", "Index", "Book")
                    <br />
                    <i class="icon-mobile"></i>  @Html.ActionLink("Devices", "Index", "Technology")
                    <br />
                    <i class="icon-book-1"></i>  @Html.ActionLink("FAQS", "FAQs", "Help")
                </div>
                <div class="col-md-4 pull-right">
                    <br />
                    <p class="pull-right">Best viewed in <i class="icon-firefox"></i> <i class="icon-chrome"></i> built with <span style="font-size:larger"><i class="icon-html5-1"></i></span> <br /> On resolution 1280 X 600 and above</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
    @RenderSection("scripts", required: false)
</body>
</html>
