<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/fontello/css")
    @Scripts.Render("~/bundles/modernizr")
    @using urbanbooks.Helpers;
    <link rel="stylesheet" href="~/fonts/fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/fonts/fontello/css/animation.css" type="text/css" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    @using urbanbooks.Controllers;
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Urban Books", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    @Html.ActionLink("Books", "Index", "Book")
                </li>
                <li>
                    @Html.ActionLink("Technology", "Index", "Technology")
                </li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'>  R" + Session["cartTotal"].ToString() + "</span>", "Cart", "Edit", "Cart", htmlAttributes: new { @class = "btn" })</li>
                <li>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'>  " + Session["wishlistTotal"].ToString() + "</span>", "Wishlist", "Edit", "Wishlist", htmlAttributes: new { @class = "btn" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
            <div class="navbar-form input-group form-inline">
                @using (@Html.BeginForm("Search", "Home", FormMethod.Post, null))
                {
<<<<<<< HEAD
                    @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                    <div class="btn-group">
                        <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                        @* @Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Search" } })*@
=======
                    @*@model urbanbooks.Models.SearchModel*@
                    <div class="btn-group">

                        @*@Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Search" } })*@
>>>>>>> d5a104f58965e981a58a48ed7311d319211495bb
                        <button type="button" class="btn btn-default dropdown-toggle input-group-addon" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span class="glyphicon glyphicon-search "></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" books" value="Search Books" class="btn btn-link btn-sm " /></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" bookTitle" value="Book Title" class="btn btn-link btn-sm " /></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" bookCategory" value="Book Category" class="btn btn-link btn-sm " /></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" bookIsbn" value="ISBN" class="btn btn-link btn-sm " /></li>
                            <li class="divider"></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" gadget" value="Search Technology" class="btn btn-link btn-sm " /></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" gadgetModel" value="Model Name" class="btn btn-link btn-sm " /></li>
                            <li class="btn btn-link"><input type="submit" style="width:inherit;" name=" gadgetModelNumber" value="Model Number" class="btn btn-link btn-sm " /></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--LogIn Modal PlaceHolder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent">
                </div>
            </div>
        </div>
    </div>
    <!--Body PlaceHolder-->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
<<<<<<< HEAD
=======

>>>>>>> d5a104f58965e981a58a48ed7311d319211495bb
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
