<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fonts/fontello/css")
    @Scripts.Render("~/bundles/modernizr")
    @using urbanbooks.Helpers;
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fonts/fontello/css/fontello.css" type="text/css" />
    <link rel="stylesheet" href="~/fonts/fontello/css/animation.css" type="text/css" />
    <link href="~/Content/Zosial/css/fontllo.css" rel="stylesheet" />
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Dashboard", "Home", "Supplier", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            

            

            @Html.Partial("_LoginPartial")
            <div class="navbar-form input-group form-inline pull-right">
                @using (@Html.BeginForm("Search", "Supplier", FormMethod.Post, null))
                {
                    @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                    <div class="btn-group">
                        <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                        <button type="submit" class="btn btn-default input-group-addon" data-close-others="true">
                            <span class="glyphicon glyphicon-search "></span>
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>

    <!--LogIn Modal PlaceHolder-->
    <div id="myModal" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="myModalContent">

                </div>
            </div>
        </div>
    </div>

    <!--Body PlaceHolder-->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
    @RenderSection("scripts", required: false)
</body>
</html>


