@using urbanbooks.Models
@using TwitterBootstrapMVC.RegularHtmlExtensions;
@using TwitterBootstrapMVC.Controls.V3;
@model ProductViewModel

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" rel="stylesheet" />
<link href="~/Content/datepicker3.css" rel="stylesheet" />


<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

@using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="container" style="text-align:center"><h3>Checkout</h3></div>

    </div>
    <br/>

    <div class="row">
        <div class="container">
            <div class="panel panel-success">

                <div class="panel-header success" style="padding-left:10px">
                </div>

                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th width="40%">
                                <label>Item</label>
                            </th>
                            <th width="100px" style="text-align:center">
                                <label>Quantity</label>
                            </th>
                            <th width="150px" style="text-align:center">
                                <label>Unit Price</label>
                            </th>
                            <th width="150px" style="text-align:center">
                                <label>Total</label>
                            </th>
                            <th width=""></th>
                        </tr>

                        @if (Model.allCartItem != null)
                        {
                            Session["myBooks"] = Model.allBook; Session["myGadget"] = Model.allTechnology; Session["myItems"] = Model.allCartItem; Session["myHelper"] = Model.ItsA_wrap;
                            foreach (var item in Model.allCartItem)
                            {
                                foreach (var count in Model.secureCart)
                                {
                                    if (count.ProductID == item.ProductID)
                                    {
                                        <tr>
                                            @if (Model.allBook != null)
                                            {
                                                foreach (var book in Model.allBook)
                                                {
                                                    if (book.ProductID == item.ProductID)
                                                    {
                                                        <td width="40%">
                                                            @Html.DisplayFor(modelItem => book.BookTitle)
                                                        </td>
                                                        <td width="100px" style="text-align:right">
                                                            @Html.DisplayFor(modelItem => item.Quantity)
                                                        </td>
                                                        <td width="150" style="text-align:right">
                                                            @Html.DisplayFor(modelItem => book.SellingPrice)
                                                        </td>

                                                        if (count.ProductID == item.ProductID)
                                                        {
                                                            <td width="150px" style="text-align:right">
                                                                @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                            </td>
                                                        }
                                                        <td width="" style="text-align:center">
                                                            @Html.ActionLink("Remove", "_Remove", "Cart", new { id = item.CartItemID }, new { @class = "btn btn-danger" })
                                                        </td>
                                                    }
                                                }
                                                }
                                                @if (Model.allTechnology != null)
                                                {
                                                    foreach (var gadget in Model.allTechnology)
                                                    {
                                                        if (gadget.ProductID == item.ProductID)
                                                        {
                                                            <td width="40%">
                                                                @Html.DisplayFor(modelItem => gadget.ModelName)
                                                            </td>
                                                            <td width="100px">
                                                                @Html.DisplayFor(modelItem => item.Quantity)
                                                            </td>
                                                            <td width="150px">
                                                                @Html.DisplayFor(modelItem => gadget.SellingPrice)
                                                            </td>

                                                            if (count.ProductID == item.ProductID)
                                                            {
                                                                <td width="150px">
                                                                    @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                                </td>
                                                            }
                                                        <td width="100px">
                                                            @Html.ActionLink("Remove", "_Remove", "Cart", new { id = item.CartItemID }, new { @class = "btn btn-danger" })
                                                        </td>
                                                        }

                                                    }
                                                }
                                            
                                        </tr>
                                    }

                                }
                            }
                        }
                    </table>
                </div>

                <div class="panel-footer" style="text-align:center; width:auto">
                    <table class="table table-striped" style="border:none">
                        @foreach (var item in Model.ItsA_wrap)
                        {
                            <tr>
                                <td width="40%" style=""></td>
                                <td width="100px" style=""></td>
                                <td width="150px">Sub Total</td>
                                <td width="150px" style="text-align:right">@Html.DisplayFor(modelItem => item.SubTotal)</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td width="40%"></td>
                                <td width="100px"></td>
                                <td width="150px">VAT Total</td>
                                <td width="150px" style="text-align:right">@Html.DisplayFor(modelItem => item.VatAddedTotal)</td>
                                <td ></td>
                            </tr>
                            <tr>
                                <td width="40%"></td>
                                <td width="100px"></td>
                                <td width="150px">Total</td>
                                <td width="150px" style="text-align:right">@Html.DisplayFor(modelItem => item.CartTotal)</td>
                                <td ></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br />
    <script type="text/javascript"> $(document).tooltip('show')</script>
   
    <div class="row" style="text-align:center"><h3>Shipping Information</h3><hr style="width:300px; color:black" /></div>
    <br />
    
    <div class="row">
        <div class="form-horizontal  container">
            
            <div class="form-group">
                <label class="control-label col-md-2">Delivery Address</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.deliveryHelper.DeliveryAddress, new { htmlAttributes = new { @class = "form-control", data_toggle="tooltip",  data_placement="left", title="Please enter your full Address here!" } })
                    @Html.ValidationMessageFor(model => model.deliveryHelper.DeliveryAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Delivery Type</label>

                <div class="col-md-10">
                    @Html.DropDownList("I_DeliveryList", Model.I_DeliveryList, new { @class = "form-control new", data_toggle = "tooltip", data_placement = "left", title = "Please select a Delivery Service in the dropdown menu" })
                </div>
            </div>
            <script type="text/javascript">
                $(".new").change(function () {
                    var selectedValue = $(this).val();
                    if (selectedValue != "Delivery Service") {
                        $.ajax({
                            url: '@Url.Action("GetDeliveryPrice", "Cart")',
                            type: 'post',
                            data: { 'selectedValue': selectedValue },
                            datatype: 'json',
                            success: function (response) { $(".olden").val(response); }
                        })
                    }
                    else {
                        $(".olden").val(" ");
                    }
                });
            </script>
            <div class="form-group">
                <label class="control-label col-md-2 ">Delivery Price</label>
                <div class="col-md-10">
                    
                    @Html.EditorFor(model => model.deliveryHelper.DeliveryServicePrice, new { htmlAttributes = new { @class = "form-control olden currency-align form-control-static", disabled = "disabled", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.deliveryHelper.DeliveryServicePrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

<br/>
    <div class="row" style="text-align:center"><h3>Billing Information</h3> <hr style="width:300px; color:black" /></div>
    <br/>

    <div class="row">
        <div class="container">
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Bill.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-md-10">
                            @Html.EditorFor(model => model.Bill.CreditCardNumber, new { htmlAttributes = new { @class = "form-control", id="cCard", @placeholder = "16 Digit Credit Card Number", data_toggle="popover", title="What is this Credit Card Number?", data_content="16 Digit code found in front of your credit card. For more info head over to our FAQs"} })
                        @Html.ValidationMessageFor(model => model.Bill.CreditCardNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bill.CVC, htmlAttributes: new { @class = "control-label col-md-2"}) 
                    <div class="col-md-10">
                        <div class="form-inline">
                            @Html.EditorFor(model => model.Bill.CVC, new { htmlAttributes = new { @class = "form-control", @placeholder = "3 or 4 Digit Code", data_toggle = "tooltip", data_placement = "left", title = "CVC Code is a 3 or 4 Digit code found on the back or front of the card depending on the card" } }) <a href="~/Help/FAQs/#login"><span class="glyphicon glyphicon-question-sign"></span></a>
                        </div>
                        @Html.ValidationMessageFor(model => model.Bill.CVC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bill.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                    
                        @Html.EditorFor(model => model.Bill.ExpiryDate, new { htmlAttributes = new { @class = "form-control datep",placeholder="MM/YYYY" ,id="killed", data_toggle="popover", title="How do i find this Exp Date?", data_content="In front the of the card, its a month and a year. Head over to our FAQs for more info"} })

                        @Html.ValidationMessageFor(model => model.Bill.ExpiryDate, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <br /><br /><br />
    @Html.ActionLink("Back", "Edit", null, new { @class = "btn btn-danger" })
    <span>&nbsp;</span>
    <input type="submit" value="Checkout" class="btn btn-success" />
    <script type="text/javascript">
        $('.datep').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '+1m',
            viewMode: "months",
            minViewMode: "months"
        });
        $('#cCard').focus($('#cCard').popover());
        $('#killed').focus($('#killed').popover());
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/modalform")
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fuelux")