@using urbanbooks.Models;
@using urbanbooks.Helpers;
@model  ProductViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            <label>Product Title</label>
        </th>
        <th>
            <label>Quantity</label>
        </th>
        <th>
            <label>Unit Price</label>
        </th>
    </tr>

    @if (Model.allCartItem != null)
    {
        foreach (var item in Model.allCartItem)
        {
            <tr>
                @if (Model.allTechnology != null || Model.allBook != null)
                {
                    foreach (var book in Model.allBook)
                    {
                        if (book.ProductID == item.ProductID)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => book.ProductTitle)
                            </td>
                            <td class="form-group form-inline">
                                @Html.EditorFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => book.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => book.SellingPrice)
                            </td>
                        }
                    }

                    foreach (var gadget in Model.allTechnology)
                    {
                        if (gadget.ProductID == item.ProductID)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => gadget.ProductTitle)
                            </td>
                            <td>
                                @Html.EditorFor(modelItem => item.Quantity)
                            </td>
                            <td width="400px">
                                @Html.DisplayFor(modelItem => gadget.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => gadget.SellingPrice)
                            </td>
                        }

                    }
                }


                <td>
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'> </span>", "Add to wishlist", "Add", "Wishlist", new { productId = item.ProductID, CartItemID = item.CartItemID }, htmlAttributes: new { @class = "btn btn-default" })
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'> </span>", "View Product Details", "Details", "Book", new { bookId = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" })
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-remove'> </span>", "Remove from cart", "Delete", "Cart", new { CartItemID = item.CartItemID }, htmlAttributes: new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    }

</table>

