@using urbanbooks.Models;
@using urbanbooks.Helpers;
@model  ProductViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>












<div class="row" style="text-align:center"><h3>Cart</h3><hr style="width:200px" /></div>
<br />

<table class="table table-striped">
    <tr>
        <th width="45%" style="text-align:center">
            <label>Product Title</label>
        </th>
        <th width="200px" style="text-align:center">
            <label>Quantity</label>
        </th>
        <th width="100px" style="text-align:center">
            <label>Unit Price</label>
        </th>
        <th width="100px" style="text-align:center">
            <label>Total Price</label>
        </th>
        <th>
        </th>
    </tr>

    @if (Model.allCartItem != null)
    {
        string returnUrl = HttpContext.Current.Request.RawUrl;
        foreach (var item in Model.allCartItem)
        {
            Session["myBooks"] = Model.allBook; Session["myGadget"] = Model.allTechnology; Session["myItems"] = Model.allCartItem; Session["myHelper"] = Model.ItsA_wrap;

            foreach (var count in Model.secureCart)
            {
                if (count.ProductID == item.ProductID)
                {
                    <tr>
                        @Html.HiddenFor(modelItem => item.CartItemID, new { @class = "cartItemId", id = "" + item.CartItemID })
                        @if (Model.allBook != null)
                        {
                            foreach (var book in Model.allBook)
                            {
                                if (book.ProductID == item.ProductID)
                                {

                                    <td width="45%">
                                        @Html.DisplayFor(modelItem => book.BookTitle)
                                    </td>
                                    <td class="form-group form-inline" width="300px">
                                        @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control quants" } })
                                    </td>
                                    <td width="100px" style="text-align:right">
                                        @Html.DisplayFor(modelItem => book.SellingPrice)
                                    </td>

                                    if (count.ProductID == item.ProductID)
                                    {
                                        <td width="100px" style="text-align:right">
                                            @Html.DisplayFor(modelItem => count.TotalPerItem)
                                        </td>
                                    }
                                }
                            }
                            if (Model.allTechnology != null)
                            {

                                foreach (var gadget in Model.allTechnology)
                                {
                                    if (gadget.ProductID == item.ProductID)
                                    {

                                        <td width="45%">
                                            @Html.DisplayFor(modelItem => gadget.ModelName)
                                        </td>
                                        <td class="form-group form-inline" width="300px">
                                            @Html.EditorFor(modelItem => item.Quantity, new { htmlAttributes = new { @class = "form-control quants" } })
                                        </td>
                                        <td width="100px" style="text-align:right">
                                            @Html.DisplayFor(modelItem => gadget.SellingPrice)
                                        </td>

                                        if (count.ProductID == item.ProductID)
                                        {
                                            <td width="100px" style="text-align:right">
                                                @Html.DisplayFor(modelItem => count.TotalPerItem)
                                            </td>
                                        }
                                    }
                                }
                            }
                        }

                        <td style="text-align:center">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'> </span>", "Add to wishlist", "Add", "Wishlist", new { productId = item.ProductID, CartItemID = item.CartItemID, returnUrl }, htmlAttributes: new { @class = "btn btn-default" })
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'> </span>", "View Product Details", "CustomerDetails", "Book", new { ProductID = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" })
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-remove'> </span>", "Remove from cart", "Delete", "Cart", new { CartItemID = item.CartItemID }, htmlAttributes: new { @class = "btn btn-default" })
                        </td>
                    </tr>
                }
            }
        }
    }
    @foreach (var item in Model.ItsA_wrap)
    {
        <tr>
            <td width="45%"></td>
            <td width="300px"></td>
            <td width="100px"><strong>Sub Total</strong></td>
            <td width="100px" style="text-align:right">@Html.DisplayFor(modelItem => item.SubTotal)</td>
            <td></td>
        </tr>
        <tr>
            <td width="45%"></td>
            <td width="300px"></td>
            <td width="100px"><strong>VAT Total</strong></td>
            <td width="100px" style="text-align:right">@Html.DisplayFor(modelItem => item.VatAddedTotal)</td>
            <td width=""></td>
        </tr>
        <tr>
            <td width="45%"></td>
            <td width="300px"></td>
            <td width="100px"><strong>Total</strong></td>
            <td width="100px" style="text-align:right">@Html.DisplayFor(modelItem => item.CartTotal)</td>
            <td></td>
        </tr>

    }
</table>
<br /><br /><br /><br /><br /><br />
@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-circle-arrow-left'> Back </span>", "Back", "Add", "Wishlist", new { }, htmlAttributes: new { @class = "btn btn-default" })
@Html.NoEncodeActionLink("<span>Checkout <span class='glyphicon glyphicon-circle-arrow-right'></span></span>", "Proceed to Checkout", "Checkout", "Cart", new { }, htmlAttributes: new { @class = "btn btn-default" })
<br /><br /><br />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modalform")
<script type="text/javascript">$('#help').popover()</script>

<script type="text/javascript">
    $(".quants").change(function () {
        var quantity = $(this).val();
        var itemId = $(this).parent().parent().find(".cartItemId").val()
        if (quantity >= "1") {
            $.ajax({
                url: '@Url.Action("UpdateQuantity", "Cart")',
                type: 'post',
                data: { 'quantity': quantity, 'itemId': itemId },
                datatype: 'json',
                success: function (response) { }
            })
        }
        else {
            $(".olden").val(" ");
        }
    });
</script>