@using urbanbooks.Models

@model  ProductViewModel

@{
    ViewBag.Title = "Reciept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

</div>

<div class="row">

    <div class="container">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>

</div>


<div class="row">
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th width="500px">
                    <label>Item</label>
                </th>
                <th width="100px">
                    <label>Quantity</label>
                </th>
                <th width="150px">
                    <label>Unit Price</label>
                </th>
                <th width="150px">
                    <label>Total</label>
                </th>
                <th width="100px"></th>
            </tr>

            @if (Model.allCartItem != null)
            {
                Session["myBooks"] = Model.allBook; Session["myGadget"] = Model.allTechnology; Session["myItems"] = Model.allCartItem; Session["myHelper"] = Model.ItsA_wrap;
                foreach (var item in Model.allCartItem)
                {
                    foreach (var count in Model.secureCart)
                    {
                        if (count.ProductID == item.ProductID)
                        {
                            <tr>
                                @if (Model.allBook != null)
                                {
                                    foreach (var book in Model.allBook)
                                    {
                                        if (book.ProductID == item.ProductID)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => book.BookTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => book.SellingPrice)
                                            </td>

                                            if (count.ProductID == item.ProductID)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                </td>
                                            }
                                            <td width="100px">
                                                @Html.ActionLink("Remove", "_Remove", "Cart", new { id = item.CartItemID }, new { @class = "btn btn-danger" })
                                            </td>
                                        }
                                    }
                                    if (Model.allTechnology != null)
                                    {
                                        foreach (var gadget in Model.allTechnology)
                                        {
                                            if (gadget.ProductID == item.ProductID)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => gadget.ModelName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => gadget.SellingPrice)
                                                </td>

                                                if (count.ProductID == item.ProductID)
                                                {
                                                    <td>
                                                        @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                    </td>
                                                }
                                            }
                                            <td width="100px">
                                                @Html.ActionLink("Remove", "_Remove", "Cart", new { id = item.CartItemID }, new { @class = "btn btn-danger" })
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }

                    }
                }
            }
            <tfoot>
                @foreach (var item in Model.ItsA_wrap)
                {
                    <tr>
                        <td> width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px"></td>
                        <td width="150px">Sub Total</td>
                        <td width="100px">@Html.DisplayFor(modelItem => item.SubTotal)</td>
                    </tr>
                    <tr>
                        <td width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px"></td>
                        <td width="150px">VAT Total</td>
                        <td width="100px">@Html.DisplayFor(modelItem => item.VatAddedTotal)</td>
                    </tr>
                    <tr>
                        <td width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px"></td>
                        <td width="150px">Total</td>
                        <td width="100px">@Html.DisplayFor(modelItem => item.CartTotal)</td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>

