@using urbanbooks.Models

@model  ProductViewModel

@{
    ViewBag.Title = "Reciept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.UserDetails != null)
{
   <br/> 
    <div class="row">

        <div class="container">
            <div class="col-md-3">
                <label>@Html.DisplayFor(m => m.company.Name)</label><br />
                <label>@Html.DisplayFor(m => m.company.Address)</label><br />
                <label>@Html.DisplayFor(m => m.company.Email)</label><br />
                <label>Fax&nbsp;:&nbsp;@Html.DisplayFor(m => m.company.Fax)</label><br />
                <label>Tel&nbsp;:&nbsp;@Html.DisplayFor(m => m.company.Telephone)</label>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
            </div>
        </div>

        
    </div>
    <br />
    <div class="row">

            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <label>Invoice Number :</label>&nbsp;@Html.DisplayFor(m => m.recieptData.InvoiceID)<br />
                    <label>Date Created :</label>&nbsp;@Html.DisplayFor(m => m.recieptData.DateCreated)
                </div>
            </div>

        </div>
<br/>
    <div class="row">

        <div class="container">
            <div class="col-md-3">
                <label>Customer Details</label><br />
                <label class="control-label">Name :</label>  @Html.DisplayFor(model => model.UserDetails.Name)<br />
                <label class="control-label">Last Name :</label>  @Html.DisplayFor(model => model.UserDetails.LName)<br />
                <label class="control-label">E-Mail :</label>  @Html.DisplayFor(model => model.UserDetails.email)<br />
                <label class="control-label">Phone Number :</label> @Html.DisplayFor(model => model.UserDetails.PhoneNumber)<br />
                <label class="control-label">Address :</label> @Html.DisplayFor(model => model.UserDetails.Address)<br />
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <label class="caption">Shipping Details</label><br/>
                <label class="control-label">Service Name :</label> @Html.DisplayFor(model => model.deliveryHelper.DeliveryServiceName)<br/>
                <label class="control-label">Service Type :</label> @Html.DisplayFor(model => model.deliveryHelper.DeliveryServiceType)<br/>
              <label class="control-label">Delivery Address :</label>  @Html.DisplayFor(model => model.deliveryHelper.DeliveryAddress)<br />
            </div>
        </div>

        <div class="container">
            <div class="col-md-3">

            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>

    </div>
}
<br/>
<div class="row">
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th width="500px">
                    <label>Item</label>
                </th>
                <th width="100px">
                    <label>Quantity</label>
                </th>
                <th width="150px" style="text-align:right">
                    <label>Unit Price</label>
                </th>
                <th width="150px" style="text-align:right">
                    <label>Total</label>
            </tr>

            @if (Model.allCartItem != null)
            {
                foreach (var item in Model.allCartItem)
                {
                    foreach (var count in Model.secureCart)
                    {
                        if (count.ProductID == item.ProductID)
                        {
                            <tr>
                                @if (Model.allBook != null)
                                {
                                    foreach (var book in Model.allBook)
                                    {
                                        if (book.ProductID == item.ProductID)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => book.BookTitle)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td class="currency-align">
                                                @Html.DisplayFor(modelItem => book.SellingPrice)
                                            </td>

                                            if (count.ProductID == item.ProductID)
                                            {
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                </td>
                                            }
                                        }
                                    }
                                    if (Model.allTechnology != null)
                                    {
                                        foreach (var gadget in Model.allTechnology)
                                        {
                                            if (gadget.ProductID == item.ProductID)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => gadget.ModelName)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td class="currency-align">
                                                    @Html.DisplayFor(modelItem => gadget.SellingPrice)
                                                </td>

                                                if (count.ProductID == item.ProductID)
                                                {
                                                    <td style="text-align:right">
                                                        @Html.DisplayFor(modelItem => count.TotalPerItem)
                                                    </td>
                                                }
                                            }
                                        }
                                    }
                                }
                            </tr>
                        }

                    }
                }
            }
            <tr class="alert">
                <td rowspan="3">Shipping</td>
                <td></td>
                <td class="currency-align">@Html.DisplayFor(model => model.deliveryHelper.DeliveryServicePrice)</td>
                <td class="currency-align">@Html.DisplayFor(model => model.deliveryHelper.DeliveryServicePrice)</td>
            </tr>
            <tfoot>
                @foreach (var item in Model.ItsA_wrap)
                {
                    <tr>
                        <td width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px" style="text-align:right"><strong class="control-label">Sub Total</strong></td>
                        <td class="currency-align" width="150px">@Html.DisplayFor(modelItem => item.SubTotal)</td>
                    </tr>
                    <tr>
                        <td width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px" style="text-align:right"><strong class="control-label">VAT Total</strong></td>
                        <td class="currency-align" width="150px">@Html.DisplayFor(modelItem => item.VatAddedTotal)</td>
                    </tr>
                    <tr>
                        <td width="500px"></td>
                        <td width="100px"></td>
                        <td width="150px" style="text-align:right"><strong class="control-label">Total</strong></td>
                        <td class="currency-align" width="150px">@Html.DisplayFor(modelItem => item.CartTotal)</td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>

