@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Administrative Documentation</h2>
    <br />
    <br />
    <ol>
        <li><a href="#AdminLogin">Administrative Menu Explanations</a></li>
        <li><a href="#BookNavigation">How to Navigate to the books catalogue</a></li>
        <li><a href="#TechNavigation">How to Navigate to the technology catalogue</a></li>
        <li><a href="#AddingBook">How to add a new book to the catalogue</a></li>
        <li><a href="#EditingBook">How to Edit a specific books details</a></li>
        <li><a href="#addToCart">How to add items to cart</a></li>
        <li><a href="#removeFromCart">How to remove items in cart</a></li>
        <li><a href="#moveToWish">How to move items from cart to wishlist</a></li>
        <li><a href="#addToWish">How to add items to wishlist</a></li>
        <li><a href="#removeFromWish">How to remove items to wishlist</a></li>
        <li><a href="#moveToCart">How to move items from wishlist to cart</a></li>
        <li><a href="#checkout">How to checkout items in cart</a></li>
        <li><a href="#removeSpecific">How to check out specific items in cart</a></li>
        <li><a href="#advanced">How to use Advanced search to find specific items</a></li>
    </ol>
    <br /><br /><br /><br /><br /><br />

    <article id="register">
        <h3>1. How to Register as a new user</h3>
        <h4>1.1 Quick Register</h4>
        <p>
            To register as a new user on Urban books has been simplified to save time and focus on the more important tasks. The site has <strong>'Quick Registration'</strong> which we takes less time and require less typing, Lets get started with
            <strong>'Quick Register'</strong>
            <ul>
                <li>Locate and click the <strong>'Quick Register'</strong> Link on your far top left corner</li>
                <li>A pop up asking for your email and password will appear</li>
                <li style="color:red">Provide an authentic email address and choose a password which must be at least 6 characters long <strong>Please note that all fields are required</strong></li>
                <li>Locate and click the <strong>'Register'</strong> button on the bottom left of the pop up window</li>
                <li>If your email is correct(Has not been previously registered on the site) and your password is valid(has at least 6 characters or more) you will be logged in</li>
            </ul>
        </p>
        <br />
        <div class="row">
            <img src="~/Images/FAQs/QuickRegister01.PNG" alt="Quick Register step 01" style="border:solid; border-color:black;" />
            <br />
            <br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/QuickRegister02.PNG" alt="Quick Register step 02" style="border:solid; border-color:black; " />
            <br />
            <br />
        </div>

        <div class="row">
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/QuickRegister03.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>
        <div class="row">
            <p>
                Upon successful registration you will be automatically loggen into the site
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>

        <br /><br />
        <h4>1.2 Register(Full Register)</h4>
        <p>
            Just like any other registration process our <strong>Full Register</strong> requires basic information about you. Lets get started with <strong>Full Register</strong>
            <ul>
                <li>Start by Locating and clicking on <strong>Register</strong> link on your top right corner which will direct you to our registration page</li>
                <li>Please provide the basic information required by this page <strong style="color:red"> Please note that all fields are required</strong></li>
                <li style="color:red">Please note that the password has to be at least 6 characters long, and your email not been previously registerd</li>
                <li>Upon providing the required information find and click the <strong>Register</strong> button on the bottom left of the page </li>
            </ul>
        </p>
        <br />

        <div class="row">
            <img src="~/Images/FAQs/Register01.PNG" alt="Register step 01" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Register02.PNG" alt="Register step 02" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Register03.PNG" alt="Register step 03 " style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <p>
                Upon successful registration you will be automatically loggen into the site
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>

    </article>

    <br /><br /><br />

    <article id="login">
        <h3>2. How to Login</h3>
        <p>
            To be a able to purchase products offered by Urban books you have to be a registered user, if not see <a href="#register">How to register</a>. Lets get started.
            <ul>
                <li>Locate and click the <strong>Login</strong> link on the top far right side of the browser, this will bring up a pop up window</li>
                <li>Provide the email address you registered with and your password</li>
                <li style="color:red">Please note both fields are required</li>
                <li>Upon providing correct email and password locate and click the <strong>Login</strong> button on the bottom right of the window</li>
            </ul>
        </p>
        <br />
        <div class="row">
            <img src="~/Images/FAQs/Login01.PNG" alt="Login step 01" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Login02.PNG" alt="Login step 02" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <p>
                To have the browser remember your login credentials click on <strong>Remember me?</strong>
            </p>
            <img src="~/Images/FAQs/Login04.PNG" alt="Login step 03" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Login03.PNG" alt="Login step 04" style="border:solid; border-color:black;" />
            <br /><br />
        </div>
        <div class="row">
            <p>
                When logged in, your email will be displayed on the top right
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>
    </article>

    <br /><br /><br />

    <article id="navigation">
        <h3>3. How to navigate through the site</h3>
        <p>
            Navigation through the site is made easy by the navigation bar(Top black bar), let's explore some of the links it houses and where do they take you.
        </p>
        <section>
            <h4>Navigating to the <strong>Home</strong> page</h4>
            <p>This can be done in one of two ways either by clicking on <strong>Urban Books</strong></p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/Home_urban.PNG" style="border:solid; border-color:black" />
                <br /><br />
            </div>

            <p>Or by clicking the <strong>Home</strong> link</p>

            <div class="row">
                <img src="~/Images/FAQs/Home.PNG" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
        <br /><br />
        <section>
            <h4>Navigating through our <strong>Books</strong> section</h4>
            <p>
                To navigate to our books section find and click the <strong>Books</strong> link on the navigation bar
            </p>
            <div class="row">
                <img src="~/Images/FAQs/Books01.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
        <br /><br />
        <section>
            <h4>Navigating through our <strong>Technology</strong> products</h4>
            <p>
                To navigate to our technology products find and click on <strong>Technology</strong> on the navigation bar
            </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/Devices01.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>
                That will bring out a dropdown with links. To view all technology products offered by Urban Books click on <strong>All Devices</strong>
            </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/DevicesAll.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>To view technology products by category click on one of the categories listed on the dropdown </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/DevicesCategory.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>
                To view more categories hosted on the site click on the <strong>More Categories</strong>
            </p>
            <div class="row">
                <img src="~/Images/FAQs/DevicesCategoryAll.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
    </article>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}

