@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Administrative Documentation</h2>
    <br />
    <br />
    <ol>
        <li><a href="#AdminLogin">Administrative Menu Explanations</a></li>
        <li><a href="#AddBook">How to Add a book to the catalogue</a></li>
        <li><a href="#AddTech">How to Add a Device to the catalogue</a></li>
        <li><a href="#EditBook">How to Edit a specific item's details</a></li>
        <li><a href="#DeleteBook">How to Delete("Hide") an item in the catalogue</a></li>
        <li><a href="#RestoreItem">How to Restore a deleted item.</a></li>
        <li><a href="#AddBookCategory">How to Add a category, publisher, author manufacturer from a link.</a></li>
    </ol>
    <br /><br /><br /><br /><br /><br />

    <article id="AdminLogin">
        <h3>1. Administrative Menu Explanations</h3>
        <p>
            After Logging in as an administrator you will be taken to the administrative 'Main Menu', where you can do a number of things, which you as an administrator have the rights for. Below is an image of what the Menu looks like:
        </p>
        <br />
        <div class="row">
            <img src="~/Images/Documentation/AdminMenu.JPG" alt="Admin Main Menu" style="border:solid; border-color:black;" />
            <br />
            <p>
                Diagram 1
            </p>
            <br />
        </div>
        <div class="row">
            <p>
                From This Menu We will begin By walking through adding a book to a catalogue:
                <ul>
                    <li>Firstly, Click on <strong style="color:red">Book</strong> to Open the book Menu.</li>
                    <li>Then click on <strong style="color:red">Add New</strong> to be redirected to the add book page. </li>
                </ul>
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Documentation/BookMenu.JPG" alt="Navigating to the Book Menu" style="border:solid; border-color:black; " />
            <br />
            <p>
                Diagram 2
            </p>
            <br />
        </div>
    </article>
    <article id="AddBook">
        <h3>2. How to Add a new book to the catalogue</h3>
        <div class="row">
            <p>
                You will then arrive at the add new book page (Diagram 3) where you must enter all the data as it is required and then provide an optional cover for the book. Here are the steps to accomplish this:
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Documentation/NewBookPage.JPG" alt="Add New Book Page" style="border:solid; border-color:black; " />
            <br />
            <p>
                Diagram 3
            </p>
            <br />
        </div>
        <div class="row">
            <p>
                As all data is required you need to enter:
                <ul>
                    <li>A Book Title, which is just the name of the book.</li>
                    <li>A Synopsis, which is just a short description of what the book is about, usually found on the back of the book.</li>
                    <li>A 10 or 13 digit ISBN number also found on the back of the book, it is usually preceded by ISBN-10 or ISBN-13, dashes can be added or the ISBN number will also be accepted without. If the ISBN number is an ISBN-13 number, the number must start with "978", and can end in a digit or an "X", both of which are accepted here. (An Example can be found in diagram 4).<br /><br /></li>
                    <content><img src="~/Images/Documentation/ISBNNumber.JPG" alt="ISBN NUmber Example" style="border:solid; border-color:black;" /></content>
                    <content> Diagram 4<br /><br /></content>
                    <li>A cost price must be added. The cost Price is how much the company paid for the book being entered. This cost price is then multiplied by the markup set by the business and added to the Cost Price set to give a Selling Price, which can not Be editted.</li>
                    <li>A Book Category needs to be selected(Diagram 5). The list is populated with all the categories that exist in the database. If the one you are looking for is not present you can click on the "Add Book Category" link(Diagram 6), underneath the drop down list to add one to the database and have it used for selection.See (<a href="#AddBookCategory">How to add from a link</a>)<br /><br /></li>
                    <content><img src="~/Images/Documentation/BookCategorySelection.jpg" alt="Book Category Selection Menu" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content> Diagram 5<br /><br /></content>
                    <content><img src="~/Images/Documentation/AddBookCategoryLink.JPG" alt="Add Book Category Link" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content> Diagram 6<br /><br /></content>
                    <li>A Publisher must be added, As with the above list, this list is also populated with already existing publishers, and a new publisher can also be added.</li>
                    <li>A Supplier must be selected. Here we only have certain Book suppliers, so no new suppliers can be added. New suppliers are only added by Managers or with authorization from a manager. See(<a href="#AddSupplier">Registering a new supplier)</a></li>
                    <li>An author or multiple authors need to be selected(Diagram 7). As a book can have multiple authors, the check box needs to be ticked next to an author. The list is quite large, so a search box is present where one can search for a specific author. A new author can also be added as with previous steps. See (<a href="#AddBookCategory">How to add from a link</a>)</li>
                    <content><img src="~/Images/Documentation/AuthorSelect.JPG" alt="Author Select Menu" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content> Diagram 7<br /><br /></content>
                    <li>Finally a Picture can be added. This is not compulsory, but can be entered if available. Click on "Choose File", (Diagram 8), and a new window will pop up, requiring you to choose an image file (Diagram 9). The Window has been filtered to only allow image uploads.</li>
                    <content><img src="~/Images/Documentation/BookCoverUpload.JPG" alt="Cover Upload" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content>Diagram 8<br /><br /></content>
                    <content><img src="~/Images/Documentation/ChooseFileWindow.JPG" alt="Choose File" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content>Diagram 9<br /><br /></content>
                    <li>Back to List just takes you back to the admin view of the catalogue.</li>
                    <li>Clicking the create button at the bottom of the screen (Diagram 10). Will then add this book to the catalogue, which will give you a feedback message saying that the book has been added.(Diagram 11)</li>
                    <content><img src="~/Images/Documentation/CreateButton.JPG" alt="Create Button" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content>Diagram 10<br /><br /></content>
                    <content><img src="~/Images/Documentation/BookSuccessfulEntry.JPG" alt="Success" style="border:solid; border-color:black;" /><br /><br /></content>
                    <content>Diagram 11<br /><br /></content>
                </ul>
            </p>

        </div>
    </article>
    <article id="AddTech">
        <h3>3. How to add a new device</h3>
        <p>
            As adding a device is primarily the same as adding a Book, in this section I will just highlight the main differences in adding an item.
            For all other topics regarding adding an item refer to <a href="#AddBook">How to add a book</a>
        </p>
        <div class="row">
            <p>Main Create Technology Layout:</p>
            <content><img src="~/Images/Documentation/TechMainMenu.JPG" alt="Technology Main Menu" style="border:solid; border-color:black;" /><br /><br /></content>
            <p>As seen a bove the main differences include:</p>
            <ul>
                <li>3 different images have to be added instead of just one</li>
                <li>There is specifications, which would be the description or Specifications of the Device.</li>
                <li>And A model number must be provided, this can usually be found on the box or on the device itself.</li>
            </ul>
        </div>
    </article>
    <article id="EditBook">
        <h3>4. Editing an item</h3>
        <p>
            To get to the edit menu. First click on the books, or tech name, in the strip at the top of the screen and click on any of the manage options:
            <img src="~/Images/Documentation/ManageMenu.JPG" alt="Manage Menu" style="border:solid; border-color:black;" /><br /><br />
            From here, click on an item's edit link:
            <content><img src="~/Images/Documentation/EditLink.JPG" alt="EditLink" style="border:solid; border-color:black;" /><br /><br /></content>
            Editing an item will bring up a menu. Which will allow you to change the values of items or if you made a mistake with a name, this will allow you to rectify that mistake.
            <content><img src="~/Images/Documentation/EditMenu.JPG" alt="Edit Main Menu" style="border:solid; border-color:black;" /><br /><br /></content>
            Finally, clicking save will save the changes made and you will be redirected to the admin catalogue main menu.
        </p>
    </article>
    <article id="DeleteBook">
        <h3>5. Deleting("Hiding") an item in the catalogue.</h3>
        <p>
            Deleting an item here, does not really remove the record from the database, it instead hides it from view, so that customers don't see it.
            When an item is deleted it can still be restored. See (<a href="#RestoreItem">Restoring an item</a>). Putting it back into the catalogue to view.
            To delete an item. First navigate to any manage menu.
            <img src="~/Images/Documentation/ManageMenu.JPG" alt="Manage Menu" style="border:solid; border-color:black;" /><br /><br />
            In here click on the Delete link:
            <content><img src="~/Images/Documentation/EditLink.JPG" alt="EditLink" style="border:solid; border-color:black;" /><br /><br /></content>
            This will take you to the item's specific details and allow you to delete the specified item.
            <content><img src="~/Images/Documentation/DeleteItem.JPG" alt="EditLink" style="border:solid; border-color:black;" /><br /><br /></content>
        </p>
    </article>
    <article id="RestoreItem">
        <h3>6. Restoring a Deleted Item.</h3>
        <p>
            If you wish to restore a deleted Book or technology Item, simply follow these steps:
            <ol>
                <li>Click on the books section in the strip, and click on view deleted items.</li>
                <content><img src="~/Images/Documentation/ViewDeletedBooks.JPG" alt="View Deleted Items" style="border:solid; border-color:black;" /><br /><br /></content>
                <li>From the next menu, you will see the items that have been deleted and a restore item link that will allow you to restore the specified item.</li>
                <content><img src="~/Images/Documentation/RestoreItem.JPG" alt="Restore Item" style="border:solid; border-color:black;" /><br /><br /></content>
                <li>After which you will be presented with the item and it's details, clicking restore will then restore the item to the catalogue for viewing and purchasing.</li>
                <content><img src="~/Images/Documentation/RestoreMenu.JPG" alt="Restore Menu" style="border:solid; border-color:black;" /><br /><br /></content>
            </ol>
        </p>

    </article>
    <article id="BookCategory">
        <h3>7. Adding an item from a Link</h3>
        <p>
            When inserting a book or device into the catalogue, it is possible to add a non-existent category, publisher, author etc... to the list.
            This is done by following these steps:
            <ol>
                <li>While in the book create page or device create page, click on add category for example:</li>
                <content><img src="~/Images/Documentation/AddBookCategoryLink.JPG" alt="Add Book Category Link" style="border:solid; border-color:black;" /><br /><br /></content>
                <li>This will bring up a pop up or "Modal" where you can then add the category's details and click create and this will add it to the list.</li>
                <content><img src="~/Images/Documentation/CategoryModal.JPG" alt="Category Popup" style="border:solid; border-color:black;" /><br /><br /></content>
            </ol>
        </p>
    </article>
    <br /><br />
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}

