@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Administrative Documentation</h2>
    <br />
    <br />
    <ol>
        <li><a href="#AdminLogin">Administrative Menu Explanations</a></li>
        <li><a href="#AddBook">How to Add a book to the catalogue</a></li>
        <li><a href="#AddTech">How to Add a Device to the catalogue</a></li>
        <li><a href="#EditBook">How to Edit a specific book's details</a></li>
        <li><a href="#EditTech">How to Edit a specific device's details</a></li>
        <li><a href="#DeleteBook">How to Delete("Hide") a book in the catalogue</a></li>
        <li><a href="#DeleteTech">How to Delete("Hide") a device in the catalogue</a></li>
        <li><a href="#AddBookCategory">How to Add a new Book Catgeory</a></li>
        <li><a href="#EditBookCategory">How to Edit a Book Category</a></li>
        <li><a href="#DeleteBookCategory">How to Delete a Book Category</a></li>
        <li><a href="#AddPublisher">How to Add a New Publisher</a></li>
        <li><a href="#EditPublisher">How to Edit Publisher Details</a></li>
        <li><a href="#DeletePublisher">How to Delete a publisher from the list</a></li>
        <li><a href="#AddAuthor">How to Add a new Author</a></li>
        <li><a href="#EditAuthor">How to Edit an Author's Details</a></li>
        <li><a href="#AddTechCategory">How to Add a Technology Category</a></li>
        <li><a href="#EditTechCategory">How to Edit a Technology Category's details</a></li>
        <li><a href="#DeleteTechCategory">How to Delete a Technology Category</a></li>
        <li><a href="#AddManufacturer">How to Add a Manufacturer</a></li>
        <li><a href="#EditManufacturer">How to Edit a Manufacturer's Details</a></li>
        <li><a href="#DeleteManufacturer">How to Delete a Manufacturer</a></li>
    </ol>
    <br /><br /><br /><br /><br /><br />

    <article id="AdminLogin">
        <h3>1. Administrative Menu Explanations</h3>
        <p>
            After Logging in as an administrator you will be taken to the administrative 'Main Menu', where you can do a number of things, which you as an administrator have the rights for. Below is an image of what the Menu looks like:
        </p>
        <br />
        <div class="row">
            <img src="~/Images/Documentation/AdminMenu.JPG" alt="Admin Main Menu" style="border:solid; border-color:black;" />
            <br />
            <p>
                Diagram 1
            </p>
            <br />
        </div>
        <div class="row">
            <p>
                From This Menu We will begin By walking through adding a book to a catalogue:
                <ul>
                    <li>Firstly, Click on <strong style="color:red">Book</strong> to Open the book Menu.</li>
                    <li>Then click on <strong style="color:red">Add New</strong> to be redirected to the add book page. </li>
                </ul>
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Documentation/BookMenu.JPG" alt="Navigating to the Book Menu" style="border:solid; border-color:black; " />
            <br />
            <p>
                Diagram 2
            </p>
            <br />
        </div>
    </article>
    <article id="AddBook">
        <h3>How to Add a new book to the catalogue</h3>
        <div class="row">
            <p>
                You will then arrive at the add new book page (Diagram 3) where you must enter all the data as it is required and then provide an optional cover for the book. Here are the steps to accomplish this:
            </p>
        </div>
        <div class="row">
            <img src="~/Images/Documentation/NewBookPage.JPG" alt="Add New Book Page" style="border:solid; border-color:black; " />
            <br />
            <p>
                Diagram 3
            </p>
            <br />
        </div>

        <div class="row">
            <p>
                Upon successful registration you will be automatically loggen into the site
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>

        <br /><br />
        <h4>1.2 Register(Full Register)</h4>
        <p>
            Just like any other registration process our <strong>Full Register</strong> requires basic information about you. Lets get started with <strong>Full Register</strong>
            <ul>
                <li>Start by Locating and clicking on <strong>Register</strong> link on your top right corner which will direct you to our registration page</li>
                <li>Please provide the basic information required by this page <strong style="color:red"> Please note that all fields are required</strong></li>
                <li style="color:red">Please note that the password has to be at least 6 characters long, and your email not been previously registerd</li>
                <li>Upon providing the required information find and click the <strong>Register</strong> button on the bottom left of the page </li>
            </ul>
        </p>
        <br />

        <div class="row">
            <img src="~/Images/FAQs/Register01.PNG" alt="Register step 01" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Register02.PNG" alt="Register step 02" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Register03.PNG" alt="Register step 03 " style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <p>
                Upon successful registration you will be automatically loggen into the site
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>

    </article>

    <br /><br /><br />

    <article id="login">
        <h3>2. How to Login</h3>
        <p>
            To be a able to purchase products offered by Urban books you have to be a registered user, if not see <a href="#register">How to register</a>. Lets get started.
            <ul>
                <li>Locate and click the <strong>Login</strong> link on the top far right side of the browser, this will bring up a pop up window</li>
                <li>Provide the email address you registered with and your password</li>
                <li style="color:red">Please note both fields are required</li>
                <li>Upon providing correct email and password locate and click the <strong>Login</strong> button on the bottom right of the window</li>
            </ul>
        </p>
        <br />
        <div class="row">
            <img src="~/Images/FAQs/Login01.PNG" alt="Login step 01" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Login02.PNG" alt="Login step 02" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <p>
                To have the browser remember your login credentials click on <strong>Remember me?</strong>
            </p>
            <img src="~/Images/FAQs/Login04.PNG" alt="Login step 03" style="border:solid; border-color:black;" />
            <br /><br />
        </div>

        <div class="row">
            <img src="~/Images/FAQs/Login03.PNG" alt="Login step 04" style="border:solid; border-color:black;" />
            <br /><br />
        </div>
        <div class="row">
            <p>
                When logged in, your email will be displayed on the top right
            </p>
            <img style="border:solid; border-color:black;" src="~/Images/FAQs/Loggedin.PNG" alt="Quick Register step 03" />
            <br /><br />
        </div>
    </article>

    <br /><br /><br />

    <article id="navigation">
        <h3>3. How to navigate through the site</h3>
        <p>
            Navigation through the site is made easy by the navigation bar(Top black bar), let's explore some of the links it houses and where do they take you.
        </p>
        <section>
            <h4>Navigating to the <strong>Home</strong> page</h4>
            <p>This can be done in one of two ways either by clicking on <strong>Urban Books</strong></p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/Home_urban.PNG" style="border:solid; border-color:black" />
                <br /><br />
            </div>

            <p>Or by clicking the <strong>Home</strong> link</p>

            <div class="row">
                <img src="~/Images/FAQs/Home.PNG" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
        <br /><br />
        <section>
            <h4>Navigating through our <strong>Books</strong> section</h4>
            <p>
                To navigate to our books section find and click the <strong>Books</strong> link on the navigation bar
            </p>
            <div class="row">
                <img src="~/Images/FAQs/Books01.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
        <br /><br />
        <section>
            <h4>Navigating through our <strong>Technology</strong> products</h4>
            <p>
                To navigate to our technology products find and click on <strong>Technology</strong> on the navigation bar
            </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/Devices01.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>
                That will bring out a dropdown with links. To view all technology products offered by Urban Books click on <strong>All Devices</strong>
            </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/DevicesAll.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>To view technology products by category click on one of the categories listed on the dropdown </p>
            <br />
            <div class="row">
                <img src="~/Images/FAQs/DevicesCategory.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
            <br />
            <p>
                To view more categories hosted on the site click on the <strong>More Categories</strong>
            </p>
            <div class="row">
                <img src="~/Images/FAQs/DevicesCategoryAll.png" style="border:solid; border-color:black" />
                <br /><br />
            </div>
        </section>
    </article>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}

