@model urbanbooks.Models.RegisterViewModel

<!--Modal Header-->
<div class="modal-header" style="align-content:center;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Quick Register</h4>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <!--Modal Body #the actuall Registration Page-->
    <div class="modal-body">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>


    <!--Modal Footer #Hosting close button and other buttons-->
    <div class="modal-footer">
        <input type="submit" class="btn btn-default" value="Register" />
        <button class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
