@model urbanbooks.TechCategory

<div class="modal-header" style="align-content:center;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add New Technology Category</h4>
</div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <h4>TechCategory</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", id = "categoryName" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Modal Footer #Hosting close button and other buttons-->
        <div class="modal-footer">
            <input type="submit" class="btn btn-default" value="Create" />
            <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    <script>
    $("#categoryName").focusout(function () {
        $.getJSON('@Url.Action("CheckDuplicates", "TechCategory")', { category: $(this).val() }, function (data) {
            if (data.isDuplicate) {
                alert("That Category already exists. Please try again");
            }
        }
        )}
        )
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
