@using urbanbooks.Models;
@model SearchViewModel
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Device Categories</h3>
<hr />
<br />
<ul>
    @foreach (var item in Model.GadgetCategoryResults)
    {
        <li>@Html.ActionLink("" + item.CategoryName, "ByCategory", "Technology", new { CategoryID = item.TechCategoryID}, null)</li>
    }
</ul>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/fuelux")
}