@using urbanbooks.Models;
@model AddNewTechViewModel

<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.multiple.select.js"></script>
<link href="~/Content/multiple-select.css" rel="stylesheet" />

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if (message)
        alert(message);
</script>
<br />
<div class="row">

    <div class="col-md-9">
        <h2>Add new device</h2>
    </div>

    <div class="col-md-3">
        <br />
        <div class="navbar-form input-group form-inline pull-right">
            @using (@Html.BeginForm("AdminDeviceSearch", "Search", FormMethod.Post, null))
            {
                @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                <div class="btn-group">
                    <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                    <button type="submit" class="btn btn-default input-group-addon" data-close-others="true">
                        <span class="glyphicon glyphicon-search "></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


@using (Html.BeginForm("Create", "Technology", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.techs.ModelName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.ModelName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.Specs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.Specs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.Specs, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.ModelNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.ModelNumber, new { htmlAttributes = new { @class = "form-control", id = "modelNumber" } })
                @Html.ValidationMessageFor(model => model.techs.ModelNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.CostPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.CostPrice, new { htmlAttributes = new { @class = "form-control new" } })
                @Html.ValidationMessageFor(model => model.techs.CostPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.SellingPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.SellingPrice, new { htmlAttributes = new { @class = "form-control olden", @readonly="readonly" } })
                @Html.ValidationMessageFor(model => model.techs.SellingPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Manufacturer</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("Manufacturer", Model.manufacturers, new { @class = "form-control" })<br />
                    @Html.ActionLink("Add a Manufacturer", "ViewManufacturer", "Manufacturer", null, new { data_modal = "" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Category</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("CategoryName", Model.techCategories, new { @class = "form-control" })<br />
                    @Html.ActionLink("Add a Category", "ViewTechCategory", "TechCategory", null, new { data_modal = "" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Supplier</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("Name", Model.suppliers, new { @class = "form-control" })<br />
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Front Image</legend>
            <div class="editor-field">
                <input id="ImageFront" title="Upload front Image" type="file" name="file" accept="image/*" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Top Image</legend>
            <div class="editor-field">
                <input id="ImageTop" title="Upload top Image" type="file" name="file2" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Side Image</legend>
            <div class="editor-field">
                <input id="ImageSide" title="Upload Side Image" type="file" name="file3" />
            </div>
        </fieldset>
        <script type="text/javascript">
            $(".new").change(function () {
                var selectedValue = $(this).val();
                if (selectedValue != " ") {
                    $.ajax({
                        url: '@Url.Action("GetTechMarkUp", "Technology")',
                        type: 'post',
                        data: { 'selectedValue': selectedValue },
                        datatype: 'json',
                        success: function (response) { $(".olden").val(response); }
                    })
                }
                else {
                    $(".olden").val(" ");
                }
            });
        </script>
        <script>
    $("#modelNumber").focusout(function () {
        $.getJSON('@Url.Action("CheckDuplicates", "Technology")', { modelNumber: $(this).val() }, function (data) {
            if (data.isDuplicate) {
                alert("This Item Already Exists.");
            }
        }
        )
    }
        )
        </script>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}