@using urbanbooks.Models;
@model AddNewTechViewModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Technology", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Technology</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.techs.ModelName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.ModelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.ModelName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.Specs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.Specs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.Specs, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.ModelNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.ModelNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.ModelNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.CostPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.CostPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.CostPrice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.techs.SellingPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.techs.SellingPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.techs.SellingPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Manufacturer</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("Manufacturer", Model.manufacturers, new { @class = "form-control" })<br />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Category</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("CategoryName", Model.techCategories, new { @class = "form-control" })<br />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Supplier</label>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("Name", Model.suppliers, new { @class = "form-control" })<br />
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Front Image</legend>
            <div class="editor-field">
                <input id="ImageFront" title="Upload front Image" type="file" name="file" accept="image/*" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Top Image</legend>
            <div class="editor-field">
                <input id="ImageTop" title="Upload top Image" type="file" name="file2" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Side Image</legend>
            <div class="editor-field">
                <input id="ImageSide" title="Upload Side Image" type="file" name="file3" />
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
