@model urbanbooks.Technology

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFront)
        </dt>
        <dd>
            <img src="~/Uploads/Tech/ImageFront/@Model.ImageFront" width="200" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageTop)
        </dt>
        <dd>
            <img src="~/Uploads/Tech/ImageTop/@Model.ImageTop" width="200" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageSide)
        </dt>
        <dd>
            <img src="~/Uploads/Tech/ImageSide/@Model.ImageSide" width="350" height="200" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
