@using urbanbooks.Models
@model  AddNewTechViewModel

@{
    ViewBag.Title = "Details";
    if(User.IsInRole("admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
    
}

@{
    var message = TempData["cartAdd"] ?? string.Empty;
}

<script type="text/javascript">
    var msg;
    if (msg) {
        window.alert(msg);
    }
</script>



@{
    string returnUrl = HttpContext.Current.Request.RawUrl;
}
<br />
<h3>@Html.DisplayFor(model => model.techs.ModelName)</h3>
<br /><br />
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Details</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Images</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
        @{
            if (User.IsInRole("admin"))
            {
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { ProductID = Model.techs.ProductID })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { ProductID = Model.techs.ProductID })</li>
                </ul>
                
                
            }
            else
            {
                <ol class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Add to cart", "AddToCart", "Cart", new { productId = Model.techs.ProductID, returnUrl }, null)</li>
                    <li>@Html.ActionLink("Add to wishlist", "Add", "Wishlist", new { productId = Model.techs.ProductID, returnUrl }, null)</li>
                </ol>
            }
        }

    </li>
</ul>







<div class="tab-content">

    <div class="tab-pane fade in active" id="home">
        <br /><br />
        <div class="container">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.techs.ModelNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.techs.ModelNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.techs.Specs)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.techs.Specs)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.mans.Name)
                </dt>
                <dd>
                    @Html.ActionLink("" + @Html.DisplayFor(model => model.mans.Name), "ByManufacturer", "Technology", new { ManufacturerID = @Html.ValueFor(model => model.mans.ManufacturerID) }, null)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </dt>
                <dd>
                    @Html.ActionLink("" + @Html.DisplayFor(model => model.Category.CategoryName), "ByCategory", "Technology", new { CategoryID = @Html.ValueFor(model => model.Category.TechCategoryID) }, null)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.techs.SellingPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.techs.SellingPrice)
                </dd>
            </dl>
        </div>
    </div>

    <div class="tab-pane fade" id="profile">
        <br /><br />
        <div class="container">
            <div class="col-md-3">
                @Html.DisplayNameFor(mode => mode.techs.ImageFront) <br />
                <img src="~/Uploads/Tech/@Model.techs.ImageFront" width="300" height="200" />
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(mode => mode.techs.ImageSide) <br />
                <img src="~/Uploads/Tech/@Model.techs.ImageSide" width="300" height="200" />
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(mode => mode.techs.ImageTop) <br />
                <img src="~/Uploads/Tech/@Model.techs.ImageTop" width="300" height="200" />
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="messages">...</div>
</div>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}