@model IEnumerable<urbanbooks.Technology>
@using urbanbooks.Models
@using urbanbooks.Helpers;

@{
    ViewBag.Title = "Technology Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using urbanbooks.Helpers;
<br />
<div class="container">
    <div class="jumbotron">
    </div>
</div>

<br />


@if (Model != null)
{
    string returnUrl = HttpContext.Current.Request.RawUrl;
    foreach (var item in Model)
    {
        <div class="col-md-2">
            <div style="height:450px">
                <div class="thumbnail" style="text-align:center">

                    <img class="img-thumbnail" src="~/Uploads/Tech/@item.ImageFront" width="100" height="100" />
                    <h4 class="caption">@Html.DisplayFor(modelItem => item.ModelName)</h4>
                    <label>Model Number :</label>&nbsp;@Html.DisplayFor(modelItem => item.ModelNumber)<br />
                    <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                    <hr />
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "Details", "Technology", new { ProductID = item.ProductID }, htmlAttributes: new { @class = "btn" })
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}
