@model IEnumerable<urbanbooks.Technology>
@using urbanbooks.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Technology Catalogue</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageFront)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageTop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelNumber)
                </td>
                <td>
                    <img src="~/Uploads/Tech/ImageFront/@item.ImageFront" width="150" height="150" />
                </td>
                <td>
                    <img src="~/Uploads/Tech/ImageTop/@item.ImageTop" width="150" height="150" />
                </td>
                <td>
                    <img src="~/Uploads/Tech/ImageSide/@item.ImageSide" width="150" height="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    }

</table>
