@using urbanbooks.Models
@model RangeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SupplierLayout.cshtml";
}


<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent">
            </div>
        </div>
    </div>
</div>


<br /><br />
<div class="row">
    <div class="col-md-9">
        <h4>New orders</h4>
    </div>

    <div class="col-md-3">
        <div class="navbar-form input-group form-inline pull-right">
            @using (@Html.BeginForm("AdminDeviceSearch", "Search", FormMethod.Post, null))
            {
                @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                <div class="btn-group">
                    <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                    <button type="submit" class="btn btn-default input-group-addon" data-close-others="true">
                        <span class="glyphicon glyphicon-search "></span>
                    </button>
                </div>
            }
        </div>
    </div>
    
</div>
<br /><br />
<div class="row">
    @Html.Partial("Ranger")
</div>

<br /><br /><br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Orders Placed Today</a></li>
    <li><a href="#profile" data-toggle="tab">Pending Orders</a></li>
    <li><a href="#messages" data-toggle="tab">Complete Orders</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <br /><br />
        <table class="table">
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Orders)
            {
                string returnUrl = HttpContext.Current.Request.RawUrl;
                if (item.DateCreated == DateTime.Today.Date && item.Status == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("View Details", "Details","Order", new { OrderNumber = item.OrderNo }, new { @class = "btn btn-default", data_modal = "" })
                        </td>
                        @if (item.Status == false)
                        {
                            <td>
                                <label class="alert alert-warning">Pending</label>
                            </td>
                        }
                        <td>
                            @Html.ActionLink("Complete", "ProcessOrder", "Order", new { returnUrl = returnUrl, OrderNumber = item.OrderNo }, new { @class = "btn btn-default btn-success" })
                        </td>
                    </tr>
                }
            }

        </table>

    </div>


    <div class="tab-pane fade" id="profile">
        <br /><br />

        <table class="table">
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Orders)
            {
                string returnUrl = HttpContext.Current.Request.RawUrl;
                if (item.DateCreated < DateTime.Today.Date && item.Status == false)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("View Details", "Details", "Order", new { OrderNumber = item.OrderNo }, new { @class = "btn btn-default", data_modal = "" })
                        </td>
                        @if (item.Status == false)
                        {
                            <td>
                                <label class="alert alert-warning">Pending</label>
                            </td>
                        }
                        <td>
                            @Html.ActionLink("Complete", "ProcessOrder", "Order", new { returnUrl = returnUrl, OrderNumber = item.OrderNo }, new { @class = "btn btn-default btn-success" })
                        </td>
                    </tr>
                }
            }

        </table>


    </div>


    <div class="tab-pane fade" id="messages">
        <br /><br /><br />
        <table class="table">
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Completed
                </th>
            </tr>

            @foreach (var item in Model.Orders)
            {
                string returnUrl = HttpContext.Current.Request.RawUrl;
                if (item.Status == true)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.ActionLink("View Details", "Details", "Order", new { OrderNumber = item.OrderNo }, new { @class = "btn btn-default", data_modal = "" })
                        </td>
                        @if (item.Status == false)
                        {
                            <td>
                                <label class="alert alert-warning">Pending</label>
                            </td>
                        }
                        <td>
                            <label class="alert alert-success">Complete</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateLastModified)
                        </td>
                    </tr>
                }
            }

        </table>

    </div>
</div>

<script type="text/javascript">
        $('.dateFrom').datepicker({
            format: 'dd/mm/yyyy'
        });
</script>

<script type="text/javascript">
    $('.dateTo').datepicker({
        format: 'dd/mm/yyyy'
    });
</script>





@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
}