@using urbanbooks.Models
@model RangeViewModel
@{
    ViewBag.Title = "Detailed";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

@using (Html.BeginForm("Detailed", "Report", FormMethod.Post))
{
    <br /><br /><br />
    <div class="row">
        <div class="form-inline">
            <label>Products :</label> <label>@Html.RadioButtonFor(model => model.radioButtons, "All", new { @class = "form-control" }) @Html.LabelFor(model => model.radioButtons, "All", new { @class = "control-label" })</label> &nbsp; &nbsp;<label> @Html.RadioButtonFor(model => model.radioButtons, "Book", new { @class = "form-control" }) @Html.LabelFor(model => model.radioButtons, "Books", new { @class = "control-label" })</label> &nbsp; &nbsp; <label> @Html.RadioButtonFor(model => model.radioButtons, "Dev", new { @class = "form-control" }) @Html.LabelFor(model => model.radioButtons, "Devices", new { @class = "control-label" })</label>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="form-inline">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4">
                @Html.LabelFor(model => model.myRange.From, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.EditorFor(model => model.myRange.From, new { htmlAttributes = new { @class = "form-control dateFrom", @readonly = "readonly" } })
                   @*@Html.ValidationMessageFor(model => model.myRange.From, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.myRange.To, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.EditorFor(model => model.myRange.To, new { htmlAttributes = new { @class = "form-control dateTo", @readonly = "readonly" } })
                    @*@Html.ValidationMessageFor(model => model.myRange.To, "", new { @class = "text-danger" })*@
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>

            </div>
        </div>
    </div>
    <hr />
<br /><br />
    <div class="row">
        <div class="container">
            <table class="table">
                <tr>
                    <th>Invoice Number</th>
                    <th>Date Issued</th>
                    <th>Total</th>
                </tr>
                @if (Model.Detailed != null)
                {
                    foreach (var item in Model.Detailed)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.InvoiceID)</td>
                            <td>@Html.DisplayFor(model => item.DateIssued)</td>
                            <td>@Html.DisplayFor(model => item.InvoiceTotal)</td>
                        </tr>
                    }
                }
                @if (Model.Total != null)
                {
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="control-label">Invoice Total</td>
                            <td class="control-label">@Html.DisplayFor(model => model.Total.Total)</td>
                        </tr>
                    </tfoot>
                }
            </table>

        </div>
    </div>
}



<script type="text/javascript">
        $('.dateFrom').datepicker({
            format: 'dd/mm/yyyy'
        });
</script>

<script type="text/javascript">
    $('.dateTo').datepicker({
        format: 'dd/mm/yyyy'
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}
