@using urbanbooks.Models
@model OrderLineModel


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel" style="align-content:center">Order Details</h4>
</div>

<div class="modal-body">

    <div class="col-md-6">
        @Html.DisplayNameFor(model => model.OrderDetails.OrderNo) : <span>&nbsp;</span> @Html.DisplayFor(model => model.OrderDetails.OrderNo) <br />
        @Html.DisplayNameFor(model => model.OrderDetails.DateCreated) :<span>&nbsp;</span> @Html.DisplayFor(model => model.OrderDetails.DateCreated) <br />
        @Html.DisplayNameFor(model => model.OrderDetails.InvoiceID) : <span>&nbsp;</span> @Html.DisplayFor(model => model.OrderDetails.InvoiceID) <br />
    </div>

    <div class="col-md-6">
        <label><strong>Supplier Details :</strong></label> <br />
        @Html.DisplayNameFor(model => model.SupplierDetails.Name) :<span>&nbsp;</span> @Html.DisplayFor(model => model.SupplierDetails.Name) <br />
        @Html.DisplayNameFor(model => model.SupplierDetails.Fax) :<span>&nbsp;</span> @Html.DisplayFor(model => model.SupplierDetails.Fax) <br />
        <label>Contact Person Details :</label> <br />
        @Html.DisplayNameFor(model => model.SupplierDetails.ContactPerson) :<span>&nbsp;</span> @Html.DisplayFor(model => model.SupplierDetails.ContactPerson) <br />
        @Html.DisplayNameFor(model => model.SupplierDetails.LastName) :<span>&nbsp;</span> @Html.DisplayFor(model => model.SupplierDetails.LastName) <br />
        @Html.DisplayNameFor(model => model.SupplierDetails.ContactPersonNumber) :<span>&nbsp;</span> @Html.DisplayFor(model => model.SupplierDetails.ContactPersonNumber) <br />
        <br /><br />
    </div>

    <br /><br />

    <table class="table">
        <tr>
            <td>Product ID</td>
            <td>Quantity</td>
        </tr>
        @foreach (var item in Model.OrderLineDetails)
        {
            <tr>
                <td>@Html.ActionLink("" + item.ProductID, "Product","Supplier",new{ProductID = item.ProductID}, new {data_modal="" } )</td>
                <td>@Html.DisplayFor(model => item.Quantity)</td>
            </tr>
            <tfoot>
                <tr>
                    <td><label>Total</label></td>
                    <td>@Html.DisplayFor(model => model.totally)</td>
                </tr>
            </tfoot>
        }
    </table>



</div>

<div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
</div>