@model IEnumerable<urbanbooks.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
@using urbanbooks.Helpers;

<h2>Order List</h2>
<br/>
<hr/>
<ul>
    <li>@Html.ActionLink("Create New", "Create")</li>

    <li>@Html.ActionLink("View All Orders", "ViewAllOrders")</li>

    <li>@Html.ActionLink("View Removed Orders", "DeletedOrders")</li>
</ul>
            
 
<hr/>
<p>*Not Recieved</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { OrderNo = item.OrderNo })|
        </td>

    </tr>
}

</table>
