@model IEnumerable<urbanbooks.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    
}
@using urbanbooks.Helpers;

<h2>Order List</h2>
<br/>
<hr/>
<ul>
    <li>@Html.ActionLink("Create New", "Create")</li>
</ul>
            
 
<hr/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { OrderNo = item.OrderNo })|
        </td>
        <td>
            @if (item.Status == true)
            {
                <p style="color:green;">*RECEIVED*</p>
            }
        </td>

    </tr>
}


</table>
