@model urbanbooks.Publisher

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h2>Add new Publisher</h2>
    </div>
    <div class="col-md-3">
        <br />
        <div class="navbar-form input-group form-inline pull-right">
            @using (@Html.BeginForm("AdminBookSearch", "Search", FormMethod.Post, null))
            {
                @*@Html.TextBox("txt", null, new { htmlAttributes = new { @class = "form-control input-sm input-group-addon", placeholder = "Search" } })*@
                <div class="btn-group">
                    <input type="text" name="query" placeholder="Search" value="" class="form-control input-sm" />
                    <button type="submit" class="btn btn-default input-group-addon" data-close-others="true">
                        <span class="glyphicon glyphicon-search "></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "PublisherName" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    $("#PublisherName").focusout(function () {
        $.getJSON('@Url.Action("CheckDuplicates", "Publisher")', { name: $(this).val() }, function (data) {
            if (data.isDuplicate) {
                alert("That Publisher Name is already taken.");
            }
        }
        )}
        )
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
