@model IEnumerable<urbanbooks.Book>
@using urbanbooks.Models
@using urbanbooks.Helpers;
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
    <h2> Catalogue</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImage)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                <img src="~/Uploads/Books/@item.CoverImage" width="100" height="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { productId = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { productId = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { ProductId = item.ProductID })
            </td>
        </tr>
    }

</table>

