@using urbanbooks.Models;
@model AddNewBookViewModel



@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Book</h2>

@using (Html.BeginForm("Create", "Book", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.books.BookTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.books.BookTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.books.BookTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.books.Synopsis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.books.Synopsis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.books.Synopsis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.books.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.books.ISBN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.books.ISBN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.books.CostPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.books.CostPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.books.CostPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.books.SellingPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.books.SellingPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.books.SellingPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <h5>Category</h5>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("CategoryName", Model.bookCategories)<br />
                    @Html.ActionLink("Add a Category", "Create", "BookCategory")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <h5>Publisher</h5>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("PublisherName", Model.publishers)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <h5>Supplier</h5>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("Name", Model.suppliers)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <h5>Author</h5>
                <div class="col-md-10 dropdown">
                    @Html.DropDownList("FullName", Model.authors)
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Image</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.books.CoverImage)
            </div>
            <div class="editor-field">
                <input id="CoverImage" title="Upload Book Cover" type="file" name="file" />
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "AdminIndex")
</div>
