@using PagedList
@using PagedList.Mvc
@model IPagedList<urbanbooks.Book>
@using urbanbooks.Models
@using urbanbooks.Helpers

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using urbanbooks.Helpers;

@{
    var message = TempData["cartAdd"] ?? string.Empty;
}

<script type="text/javascript">
    var msg = '@message';
    if(msg)
    {
        alert(msg);
    }
</script>


<br />
<div class="container">
    <div class="jumbotron">
        <h3>Book Catalogue</h3>
    </div>
</div>

<br />


    @if (Model != null)
    {
        string returnUrl = HttpContext.Current.Request.RawUrl;
        foreach (var item in Model)
        {
            <div class="col-md-2">
                <div style="height:450px">
                    <div class="thumbnail" style="text-align:center">

                        <img class="img-thumbnail" src="~/Uploads/Books/@item.CoverImage" width="150" height="150" />
                        <label class="caption">@Html.DisplayFor(modelItem => item.BookTitle)</label><br />
                        <label>ISBN :</label>&nbsp;@Html.DisplayFor(modelItem => item.ISBN)<br />
                        <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                        @*<label>Author(s):</label>&nbsp;@Html.DisplayFor(modelItem => item.AuthName)*@
                        <hr />
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "CustomerDetails", "Book", new { productId = item.ProductID }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                    </div>
                </div>
            </div>
        }
    }
    <div class="row"></div>
<div class="row" style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modalform")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fuelux")
}