@model IEnumerable<urbanbooks.Book>
@using urbanbooks.Models
@using urbanbooks.Helpers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using urbanbooks.Helpers;

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateBook")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImage)
        </th>
        <th>

        </th>
    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>

                <td>
                    <img src="~/Uploads/Books/@item.CoverImage" width="150" height="150" />
                </td>
                <td>
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>","Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID}, htmlAttributes: new { @class = "btn btn-default"})
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "Details", "Book", new { bookId = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" })
                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID }, htmlAttributes: new { @class = "btn btn-default" }) 
                    @Html.ActionLink("Details", "Details", new { bookId = item.BookID }) |
                    @Html.ActionLink("Delete", "Delete", new { bookId = item.BookID })
                </td>

            </tr>
        }
    }


</table>
