@using urbanbooks.Models
@using urbanbooks.Helpers
@model SearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="text-align:center">
    <h4>Search Results for :&nbsp;<strong>@Html.DisplayFor(m => m.Query)</strong></h4>
</div>
<br />

@if (Model.BookResults != null)
{
    string returnUrl = HttpContext.Current.Request.RawUrl;
    <hr />
    <h4>Books</h4>
    <div class="row">
        @foreach (var item in Model.BookResults)
        {
            <div class="col-md-2">
                <div style="height:450px">
                    <div class="thumbnail" style="text-align:center">
                        <img class="img-thumbnail" src="~/Uploads/Books/@item.CoverImage" width="150" height="150" />
                        <label class="caption">@Html.DisplayFor(modelItem => item.BookTitle)</label>
                        <label>ISBN :</label>&nbsp;@Html.DisplayFor(modelItem => item.ISBN)<br />
                        <label>Price :</label>&nbsp;@Html.DisplayFor(modelItem => item.SellingPrice)
                        <hr />
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-heart-empty'></span>", "Add to Wishlist", "Add", "Wishlist", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open'></span>", "View", "CustomerDetails", "Book", new { productId = item.ProductID }, htmlAttributes: new { @class = "btn" })
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-shopping-cart'></span>", "Add to Cart", "AddToCart", "Cart", new { productId = item.ProductID, returnUrl }, htmlAttributes: new { @class = "btn" })
                    </div>
                </div>
            </div>
        }
    </div>
}
@if (Model.BookCategoryResults != null)
{
    <hr />
    <h4>Book Categories</h4>
    <div class="row">
        <ul>
            @foreach (var item in Model.BookCategoryResults)
            {
                <li>
                    @Html.ActionLink("" + item.CategoryName, "RefCategory", "Book", new { categoryId = item.BookCategoryID})
                </li>
            }
        </ul>
    </div>

}
@if (Model.GadgetResults != null)
{
    <hr />
    <div class="row">
        @foreach (var item in Model.BookCategoryResults)
        {

        }
    </div>
}
@if (Model.GadgetCategoryResults != null)
{
    <hr />
    <div class="row">
        @foreach (var item in Model.GadgetCategoryResults)
        {

        }
    </div>

}
@if (Model.AuthorResults != null)
{
    <hr />
    <div class="row">
        <ul>
            @foreach (var item in Model.AuthorResults)
            {
                <li>@Html.ActionLink("" + item.Name + " " + item.Surname, "RefAuthor", "Book", new { authorId = item.AuthorID})</li>
            }
        </ul>

    </div>
}
@if(Model == null)
{
    <div class="row">
        <p>Sorry ! No results matching your query where found</p>
    </div>
}

<br />
<p>Please consider trying our @Html.ActionLink("Advance Search", "Advanced", "Search") </p>
